<div class="text-right">
  <div class="btn-group" data-toggle="buttons" role="group" aria-label="...">
    <button type="button" class="btn btn-default" id="api-show-inherited">Inherited</button>
    <button type="button" class="btn btn-default" id="api-show-protected">Protected</button>
    <button type="button" class="btn btn-default" id="api-show-private">Private</button>
    <button type="button" class="btn btn-default" id="api-show-deprecated">Deprecated</button>
  </div>
</div>