/*
 *  DESIGN BOOLEANS
 */
@showOptionalFlags: false;
@colorIndex: true;
@colorDocs: true;
@showFlags: true;

@font-size-small: 92%;
@font-size-base: 1em;
@font-size-large: 115%;
@font-size-xl: 130%;
@font-size-xxl: 150%;

.constructor {
	code {
		background: lighten(@color-background, 4%);
	}
	margin-bottom:1em;
}
html {
	background: @color-background;
	overflow-y: scroll;
}
ul {
	list-style: none;
}
.apidocs .params-list {
	list-style: none;
}
body {
	font-family: "Titillium Web", "Helvetica", sans-serif;
	background: @color-background;
	padding-top: 70px;
}
.list-group-item {
	word-wrap: break-word;
}
h1 {
	img {
		margin-right: 0.5em;
	}

}
.tab-content {
   background: #fff;
}
/* -- Links ------- */
a {
	color: @color-link;
	text-decoration: none;

	&:hover,
	&:focus {
		text-decoration: underline;
		color: @springroll-dark;
	}

}
// global .hidden
.hidden {
	display: none;

}
/* "Jump to Table of Contents" link is shown to assistive tools, 
	but hidden from sight until it's focused. */

.jump {
	position: absolute;
	padding: 3px 6px;
	left: -99999px;
	top: 0;
}
.jump:focus {
	left: 40%;

}
/* -- Paragraphs -- */

p {
	margin: 1.3em 0;
}
dd p,
td p {
	margin-bottom: 0;
}
dd p:first-child,
td p:first-child {
	margin-top: 0;

}
/* -- Headings ---- */
h1,
h2,
h3,
h4,
h5,
h6 {
	color: @springroll-blue !important;
	font-weight: 300;
	line-height: 1.1;
	margin: 0 0 0.5em;
}
h1 {
	font-size: 184.6%;
}
h2 {
	font-size: @font-size-xxl;
}
h3 {
	font-size: @font-size-xl;
}
h4 {
	border-bottom: 1px solid #dbdfea;
	font-size: @font-size-large;
	font-weight: normal;
}
h5,
h6 {
	font-size: @font-size-large;

}
/* -- Code and examples ----------------------------------------------------- */

code {
	color: #222;
	background: @code-background;
}
code,
kbd,
pre,
samp {
	font-family: Menlo, Monaco, 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Courier New', Courier, monospace;
	font-size: @font-size-small;
	line-height: 1.35;
}
p code,
p kbd,
p samp {
	background: #fcfbfa;
	color: #353535;
	border: 1px solid #efeeed;
	padding: 5px;
}
a code,
a kbd,
a samp,
pre code,
pre kbd,
pre samp,
table code,
table kbd,
table samp,
.intro code,
.intro kbd,
.intro samp,
.toc code,
.toc kbd,
.toc samp {
	background: none;
	border: none;
	padding: 0;
}
pre.code,
pre.terminal,
pre.cmd {
	overflow-x: auto;
	*overflow-x: scroll;
	padding: 1em;
}
pre.code {
	background: #fff;
	border: 1px solid #c2c7cd;
	border-left-width: 5px;
	line-height: 150%;
}
pre.terminal,
pre.cmd {
	background: #f0effc;
	border: 1px solid #d0cbfb;
	border-left: 5px solid #d0cbfb;

}
/* Don't reduce the font size of <code>/<kbd>/<samp> elements inside <pre>
	blocks. */

pre code,
pre kbd,
pre samp {
	font-size: @font-size-base;

}
/* Used to denote text that shouldn't be selectable, such as line numbers or
	shell prompts. Guess which browser this doesn't work in. */

.noselect {
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-o-user-select: none;
	user-select: none;

}
/* -- Lists  -- */

dd {
	margin: 0.2em 0 0.7em 1em;
}
dl {
	margin: 1em 0;
}
dt {
	font-weight: bold;

}
/* -- Tables ------ */

caption,
th {
	text-align: left;
}
table {
	border-collapse: collapse;
	width: 100%;
}
td,
th {
	border: 1px solid #fff;
	padding: 5px 12px;
	vertical-align: top;
}
td {
	background: #e6e9f5;
}
td dl {
	margin: 0;
}
td dl dl {
	margin: 1em 0;
}
td pre:first-child {
	margin-top: 0;
}
th {
	background: #d2d7e6;
	border-bottom: none;
	border-top: none;
	color: #000;
	font-weight: bold;
	line-height: 1.3;
	white-space: nowrap;

}
/* -- Layout and Content ---------------------------------------------------- */

#doc {
	margin: auto;
	min-width: 1024px;
}
.content {
	padding: 0 20px 0 25px;
}
#sidebar {
	.nav {
		margin: 2em 0 0;
	}

}
#bd {
	padding: 7px 0 30px;
	position: relative;
	width: 99%;

}
/* -- Table of Contents ----------------------------------------------------- */
/* The #toc id refers to the single global table of contents, while the .toc
	class refers to generic TOC lists that could be used throughout the page. */

.toc code,
.toc kbd,
.toc samp {
	font-size: @font-size-base;
}
.toc li {
	font-weight: bold;
}
.toc li li {
	font-weight: normal;

}
/* -- Other Styles  */
.button {
	border: 1px solid #dadada;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	color: #444;
	display: inline-block;
	font-size: @font-size-small;
	font-weight: bold;
	padding: 4px 13px 3px;
	white-space: nowrap;
	// old browsers 
	background: #efefef;
	// firefox 
	background: -moz-linear-gradient(top, #f5f5f5 0%, #efefef 50%, #e5e5e5 51%, #dfdfdf 100%);
	// webkit 
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f5f5f5), color-stop(50%, #efefef), color-stop(51%, #e5e5e5), color-stop(100%, #dfdfdf));
	// ie 
	// filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#f5f5f5', endColorstr='#dfdfdf', GradientType=0);
}
.button:hover {
	border-color: #466899;
	color: #fff;
	text-decoration: none;
	// old browsers
	background: #6396d8;
	// firefox
	background: -moz-linear-gradient(top, #6396d8 0%, #5a83bc 50%, #547ab7 51%, #466899 100%);
	// webkit
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #6396d8), color-stop(50%, #5a83bc), color-stop(51%, #547ab7), color-stop(100%, #466899));
	// ie
	// filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#6396D8', endColorstr='#466899', GradientType=0);
}
.newwindow {
	text-align: center;
}
#hd {
	padding: 0 15px 1px 20px;
	// Old browsers
	background: #fff;
	// FF3.6+
	background: -moz-linear-gradient(top, #fff 0%, #e2e6e9 100%);
	// Chrome,Safari4+
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fff), color-stop(100%, #e2e6e9));
	// Chrome10+,Safari5.1+
	background: -webkit-linear-gradient(top, #fff 0%, #e2e6e9 100%);
	// Opera 11.10+
	background: -o-linear-gradient(top, #fff 0%, #e2e6e9 100%);
	// IE10+
	background: -ms-linear-gradient(top, #fff 0%, #e2e6e9 100%);
	// W3C
	background: linear-gradient(to bottom, #fff 0%, #e2e6e9 100%);
	// IE6-9 
	// filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#fff', endColorstr='#e2e6e9', GradientType=0);
}
#hd img {
	margin: 15px 20px 15px 0;
	vertical-align: middle;
}
#hd h1 {
	color: #a3b1bb;
	font-size: @font-size-xxl;
}
#hd a {
	font-size: 36px;
	color: #a3b1bb;
}
#hd a:hover {
	text-decoration: none;

}

.navbar-brand {
	.logo {
		vertical-align: middle;
		display: inline-block !important;
		width:16px;
		height:16px;
		margin-right: 0.5em;
	}
	.version {
		background: #333;
		color: #666;
		font-size: 70%;
		padding: 2px 6px;
		border-radius: 4px;
		margin-left: 5px;
		vertical-align: middle;
	}
}

.scope-toggles {
	margin-right: 0;
	.toggle {
		margin:1.2em 0.4em 0;
		border: 0;
	}
}

#classdocs {
	.tab-pane {
		padding: 1em;
	}
	h2 {
		padding-top: 0 !important;
	}
	.item .params p,
	.item .returns p {
		display: inline;
	}
}
#classdocs .item em code,
#classdocs .item em.comment {
	color: green;
}
#classdocs .item em.comment a {
	color: green;
	text-decoration: underline;
}
#classdocs .foundat {
	font-size: @font-size-small;
	font-style: normal;
}
.attrs .emits {
	margin-left: 2em;
	padding: 0.5em;
	border-left: 1px dashed #ccc;
}
abbr {
	border-bottom: 1px dashed #ccc;
	font-size: 80%;
	cursor: help;

}
ul li p {
	margin-top: 0;
}
.method .name {
	font-size: 110%;
}
.apidocs .methods .extends .method,
.apidocs .properties .extends .property,
.apidocs .attrs .extends .attr,
.apidocs .events .extends .event {
	font-weight: bold;
}
.apidocs .methods .extends .inherited,
.apidocs .properties .extends .inherited,
.apidocs .attrs .extends .inherited,
.apidocs .events .extends .inherited {
	font-weight: normal;

}
/* -- API Docs CSS  */
/*
This file is organized so that more generic styles are nearer the top, and more
specific styles are nearer the bottom of the file. This allows us to take full
advantage of the cascade to avoid redundant style rules. Please respect this
convention when making changes.
*/

/* -- Generic TabView styles ------------------------------------------------ */
/*
These styles apply to all API doc tabviews. To change styles only for a
specific tabview, see the other sections below.
*/

.yui3-js-enabled .apidocs .tabview {
	visibility: hidden;
	/* Hide until the TabView finishes rendering. */
	_visibility: visible;
}
.apidocs .tabview.yui3-tabview-content {
	visibility: visible;
}
.apidocs .tabview .yui3-tabview-panel {
	background: #fff;
	padding: 1em;
	border: 1px solid #c2c7cd !important;

}
/* -- Generic Content Styles ------------------------------------------------ */
/* Headings */

h2,
h3,
h4,
h5,
h6 {
	border: none;
	color: #30418c;
	font-weight: bold;
	text-decoration: none;
}
.link-docs {
	float: right;
	font-size: @font-size-large;
	margin: 4px 4px 6px;
	padding: 6px 30px 5px;
}
.apidocs {
	zoom: 1;

}
/* Generic box styles. */

.apidocs .box {
	border: 1px solid;
	border-radius: 3px;
	margin: 1em 0;
	padding: 0 1em;

}
/* A flag is a compact, capsule-like indicator of some kind. It's used to
	indicate private and protected items, item return types, etc. in an
	attractive and unobtrusive way. */
.item .flag {
	background: fadeOut(@color-flag-default, 50%);
	border-radius: 3px;
	color: #fff;
	font-size: @font-size-small;
	padding: 2px 4px;
	position: relative;
	&.optional {
		& when (@showOptionalFlags = false) {
			display: none;
		}
	}

}
.flags {
	display: inline;
	span:first-of-type {
		margin-left: 1em;
	}

}
/* Class/module metadata such as "Uses", "Extends", "Defined in", etc. */

.apidocs .meta {
	border: none;
	font-size: @font-size-small;
	padding: 1em 0;
}
.apidocs .meta p {
	margin: 0;

}
/* Deprecation warning. */

.apidocs .box.deprecated,
.apidocs .flag.deprecated {
	background: #fdac9f;
	border: 1px solid #fd7775;
}
.apidocs .box.deprecated p {
	margin: 0.5em 0;
}
.apidocs .flag.deprecated {
	color: #444;

}
/* Module/Class intro description. */

.apidocs .intro {
	background: none;
	border: none;
	padding: 0 !important;

}
/* Loading spinners. */

#bd.loading .apidocs,
#api-list.loading .yui3-tabview-panel {
	background: #fff url("../img/spinner.gif") no-repeat center 70px;
	min-height: 150px;
}
#bd.loading .apidocs .content,
#api-list.loading .yui3-tabview-panel .apis {
	display: none;
}
.apidocs .no-visible-items {
	color: #666;

}
/* Generic inline list. */

.apidocs {

	ul.inline {
		display: inline;
		list-style: none;
		margin: 0;
		padding: 0;
		li {
			display: inline;
		}

	}
	ul.commas {
		li:after {
			content: ',';
		}
		li:last-child:after {
			content: '';
		}
	}

}
/* Comma-separated list. */

/* Keyboard shortcuts. */

kbd .cmd {
	font-family: Monaco, Helvetica;

}
/* -- Generic Access Level styles ------------------------------------------- */

.apidocs .item.protected,
.apidocs .item.private,
.apidocs .index-item.protected,
.apidocs .index-item.deprecated,
.apidocs .index-item.private,
.apidocs .item.inherited,
.apidocs .index-item.inherited {
	display: none;
}
.show-deprecated .item.deprecated,
.show-deprecated .index-item.deprecated,
.show-protected .item.protected,
.show-protected .index-item.protected,
.show-private .item.private,
.show-private .index-item.private,
.show-inherited .item.inherited,
.show-inherited .index-item.inherited {
	display: block;

}
/* -- Generic Item Index styles --------------------------------------------- */
.apidocs .index h3 {
	/*border-bottom: 1px solid #efefef;*/

	color: #444;
	margin: 0 0 0.6em;
	padding-bottom: 2px;
}
.apidocs .index .no-visible-items {
	margin-top: 2em;
}
.apidocs .index-list {
	border-color: #efefef;
	font-size: @font-size-small;
	list-style: none;
	margin: 0;
	padding: 0;
	-moz-column-count: 4;
	-moz-column-gap: 10px;
	-moz-column-width: 170px;
	-ms-column-count: 4;
	-ms-column-gap: 10px;
	-ms-column-width: 170px;
	-o-column-count: 4;
	-o-column-gap: 10px;
	-o-column-width: 170px;
	-webkit-column-count: 4;
	-webkit-column-gap: 10px;
	-webkit-column-width: 170px;
	column-count: 4;
	column-gap: 10px;
	column-width: 170px;
}
.apidocs .no-columns .index-list {
	-moz-column-count: 1;
	-ms-column-count: 1;
	-o-column-count: 1;
	-webkit-column-count: 1;
	column-count: 1;
}
.apidocs .index-item {
	white-space: nowrap;
}
.apidocs .index-item .flag {
	background: none;
	border: none;
	color: #afafaf;
	display: inline;
	margin: 0 0 0 0.2em;
	padding: 0;

}
/* -- Generic API item styles ----------------------------------------------- */

.apidocs .args {
	display: inline;
	margin: 0 0.5em;

}
.apidocs .flag.chainable {
	background: #46ca3b;
}
.apidocs .flag.protected {
	background: @color-flag-protected;
}
.apidocs .flag.private {
	background: @color-flag-private;
}
.apidocs .flag.async {
	background: #06aad4;
}
.apidocs .flag.required {
	background: #e60923;
}
.apidocs .item {
	padding: 1.5em 1em;
	border-bottom: 1px dotted #ddd;
	&.active {
		background-color:rgba(66, 192, 227, 0.15);
	}
	&:last-child {
		border-bottom:0;
	}
}
.apidocs .item h4,
.apidocs .item h5,
.apidocs .item h6 {
	color: #444;
	font-family: inherit;
	font-size: @font-size-base;
}
.apidocs .item .description p,
.apidocs .item pre.code {
	margin: 1em 0 0;
}
.apidocs .item .meta {
	background: none;
	border: none;
	padding: 0;
}
.apidocs .item .name {
	display: inline;
	font-size: @font-size-xl;
	a.deeplink {
		font-size: 75%;
		color: #999;
		&:hover {
			color:#555;
		}
	}
}
.apidocs .item .type,
.apidocs .item .type a,
.apidocs .returns-inline {
	color: #555;
}
.apidocs .item .type,
.apidocs .returns-inline {
	font-size: @font-size-small;
	margin: 0;
}
.apidocs .item .type a {
	border-bottom: 1px dotted #afafaf;
}
.apidocs .item .type a:hover {
	border: none;

}
/* -- Item Parameter List --------------------------------------------------- */

.apidocs .params-list {
	list-style: square;
	margin: 1em 0 0 2em;
	padding: 0;
}
.apidocs .param {
	margin-bottom: 1em;
}
.apidocs .param .type,
.apidocs .param .type a {
	color: #666;
}
.apidocs .param .type {
	margin: 0 0 0 0.5em;
	*margin-left: 0.5em;
}
.apidocs .param-name {
	font-weight: bold;

}
/* -- Item "Emits" block ---------------------------------------------------- */

.apidocs .item .emits {
	background: #f9f9f9;
	border-color: #eaeaea;

}
/* -- Item "Returns" block -------------------------------------------------- */

.apidocs .item .returns .type,
.apidocs .item .returns .type a {
	font-size: @font-size-base;
	margin: 0;

}
/* -- Class Constructor block ----------------------------------------------- */

.apidocs .constructor .item {
	border: none;
	padding-bottom: 0;

}
/* -- File Source View ------------------------------------------------------ */

pre.code.prettyprint.prettyprinted {
	background: white;
	border: none;
	overflow: visible;
	tab-size: 4;
	padding: 5px;
	li {
		list-style: decimal;
		background: white;

	}
	code span {
		background: white;

	}
	//comment
	span.com {
		color: #aaa;

	}
	//keywords
	span.kwd {
		color: @color-secondary-2-3;
	}
	span.str {
		color: @springroll-blue;
	}
	li.active {
		background: fadeout(@springroll-blue, 80%);
	}

}
/* -- Submodule List  */

.apidocs .module-submodule-description {
	font-size: @font-size-small;
	margin: 0.3em 0 1em;
}
.apidocs .module-submodule-description p:first-child {
	margin-top: 0;

}
/* -- Sidebar TabView ------------------------------------------------------- */

#api-tabview {
	margin-top: 0;
	/*0.6em;*/
}
#api-tabview-filter {
	padding: 0 0 1em;

}
/* -- Source File Contents ------- */

/* -- API options - */
#api-options {
	font-size: 11px;
	margin-top: 0.5em;
	position: absolute;
	right: 2em;

}
/* -- API list ---- */
#api-list {
	margin-top: -2em;
	*zoom: 1;
}
.apis {
	font-size: 12px;
	line-height: 1.4;
	list-style: none;
	margin: 0;
	padding: 0.5em 0 0.5em 0.4em;
}
.apis a {
	border: 1px solid transparent;
	display: block;
	margin: 0 0 0 -4px;
	padding: 0.4em;
	text-decoration: none;
	_border: none;
	_display: inline;
	color: #444 !important;
	overflow: hidden;
}
.apis a:hover,
.apis a:focus {
	background: @color-link;
	color: #444;
	outline: none;
}
.api-list-item a:hover,
.api-list-item a:focus {
	font-weight: bold;
}
.apis .message {
	color: #888;
}
.apis .result a {
	padding: 3px 5px 2px;
}
.apis .result .type {
	right: 4px;
	top: 7px;
}
.api-list-item .yui3-highlight {
	font-weght: bold;

}
.nav-tabs>li {
	margin-bottom: -2px;

}
// bootstrap overrides 
.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover {
	color: #111;
	background: @color-panel;
	border-bottom-color: transparent;
}
.nav-tabs {
	// border-bottom: 2px solid @color-line;
}
.list-group-item {
	margin: 0;
	background: inherit;
	border: none;
	border-bottom: 1px solid #eee;
	&:hover {
		background: @color-line;
		a {
			color: #fff;
		}
	}

}
// change styles to the tab-pane divider line
.nav-tabs>li>a {
	margin-right: 2px;
	line-height: 1.42857143;
	border: none;
	border-radius: 4px 4px 0 0;

}
// hide the left-border on the first tab of a tab pane
.nav-tabs li.active:first-of-type {
	a,
	a:focus,
	a:active {
		border-left-color: transparent;
	}

}
@media (max-width: 1199px) {
	.container {
		width: 96%;
	}

}
#sidebar {
	.nav {
		margin: 0;
		padding: 0;
		overflow: hidden;
	}
	.navbar-nav {
		padding: 0;
		background: white;
		width: 100%;
	}
	.navbar-collapse {
		padding: 0;
		margin: 0;
	}
	.navbar-nav>li {
		float: none;
		&:hover {
			background: @springroll-blue;
		}

	}
	.btn-close {
		position: absolute;
		color: @color-flag-private;
		right: 0.35em;
		top: 0.35em;
		z-index: 2;
		font-size: 1.4em;
	}
	.btn-group {
		width: 100%;
		padding: 1em 0 0.5em;
	}
	@screen-sm-min: 768px;
	.btn.btn-default {
		width: 50%;
		border: none;
		background: white;
		color: @springroll-blue;
		&:hover {
			color: white;
			background: @springroll-blue;
		}
		&.active {
			color: white;
			background: @color-flag-protected;
		}
		&:focus {
			border: none;
			outline: none;
		}
		span {
			margin-left: 1em;

		}
		@media (min-width: @screen-sm-min) {
			span {
				display: none;
			}

		}
		@media (max-width: @screen-sm-min) {
			//switch expanded/collapse icons
			span.expanded {
				display: none;
			}
			&.active {
				span.collapsed {
					display: none;
				}
				span.expanded {
					display: inline;
				}
			}
		}

	}
	.nav>li>a {
		color: @springroll-blue;
		padding: 0.3em 1em;
		margin: 0;
		&:hover {
			color: white;
		}

	}
	.navbar-default {
		background: none;
		border: none;
	}
	.container-fluid {
		padding: 0;
		margin: 0;
	}

}
ul.normal {
	list-style: inherit;
}

#classes-collapse .private {
	display:none;
}